.dot-pattern {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    pointer-events: none;
    mask-image: radial-gradient(400px circle at center, white, transparent);
    -webkit-mask-image: radial-gradient(400px circle at center, white, transparent);
    background-image: 
        radial-gradient(circle at 1px 1px, rgb(100 116 139) 1px, transparent 0);
    background-size: 24px 24px;
}
